
@{
    ViewBag.Title = "Гірськолижні палиці";
}


<link rel="stylesheet" href="~/Styles/style.css" type="text/css" />
<h2>Гірськолижні палиці</h2>

<div>
    <style>
        .scale {
            transition: 1s; /*speed*/
        }

            .scale:hover {
                transform: scale(1.6); /*size*/
            }
    </style>
    <table>
        <tr><th>Фото</th><th>Ціна оренди за 1 день</th><th>Довжина</th><th>Виробник</th></tr>
        <tr><td><img src="https://grandtourism.com.ua/modules/images/fischer_balance_z35016110_a.JPG" width="300" height="200" class="scale" /></td><td>17 грн</td><td>50 см</td><td>Woosh</td></tr>
        <tr><td><img src="https://m.bezky-brusle.cz/images/0/4e923dda3ff81f58/2/italbastoni-x-factor-black.jpg" width="300" height="200" class="scale" /></td><td>20 грн</td><td>70 см</td><td>Italbastoni</td></tr>
        <tr><td><img src="https://www.italbastoni.com/wp-content/uploads/2019/02/ITALBASTONI_RentDH_Jr-750x188.jpg" width="300" height="200" class="scale" /></td><td>19 грн</td><td>120 см</td><td>Italbastoni</td></tr>
    </table>
</div>



