@{
    ViewBag.Title = "ГІРСЬКОЛИЖНЕ СПОРЯДЖЕННЯ";
}


    <div>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/Styles/style.css" type="text/css" />
        <table>
            <tr>
                <td>Ім'я</td>
                <td>Виробник</td>
                <td>Дата</td>
                <td></td>
            </tr>
            <tbody>
                
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Ski</td>
                            <td>@item.Date</td>
                            <td><a href="#">Орендувати</a></td>
                        </tr>
                    }
                
            </tbody>
        </table>
    </div>

